asgiref==3.11.0
channels==4.3.2
channels_redis==4.3.0
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
msgpack==1.1.2
openpyxl==3.1.5
psycopg2==2.9.11
PyJWT==2.10.1
python-decouple==3.8
redis==7.1.0
sqlparse==0.5.3
tzdata==2025.2
